# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VisualMemory/v15
/IPCDll/Release
/MemoryTest/GeneratedFiles
/MemoryTest/Release
/ProcessAddressAnalysis/Release
/Release/*.log
/VisualMemory/GeneratedFiles
/VisualMemory/Release/*.tlog
/VisualMemory/Release
/VisualMemoryApp/GeneratedFiles
/VisualMemoryApp/Release
*.pdb
*.exp
*.ilk
